{% extends "base.html" %}   {% comment %} funcion donde se acompla entre el block y el endblock de la base {% endcomment %}

{% block content %}

<section>
    <a href="/ropa" class="m-2 btn btn-warning">Ropa</a>
    <a href="/tecnologia" class="m-2 btn btn-warning">Tecnologia</a>
    <a href="/juguetes" class="m-2 btn btn-warning">Juguetes</a>
    <a href="/info" class="m-2 btn btn-warning">Productos</a>
    <a href="/info/UserRegistros/" class="m-2 btn btn-warning">Usuarios</a>
    <a href="/info/proyectos/" class="m-2 btn btn-warning">Proyectos</a>
</section>

{% endblock  %}