{% extends "base.html" %}   {% comment %} funcion donde se acompla entre el block y el endblock de la base {% endcomment %}

{% block content %}

{% if proyectos %}


  <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
          <tr>
              <th>NOMBRE</th>
              <th>FECHA INICIO</th>
              <th>FECHA TERMINO</th>
              <th>Responsable</th>
              <th>Prioridad</th>
          </tr>
      </thead>
      <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.fechaInicio }}</td>
            <td>{{ proyecto.fechaTermino }}</td>
            <td>{{ proyecto.responsable }}</td>
            <td>{{ proyecto.prioridad }}</td>
            <td><a href="/actualizarProyecto/{{proyecto.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>
            <td><a href="/eliminarProyecto/{{proyecto.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  {% else %}

  <div class="alert alert-primary" role="alert">
      <strong>NO SE ENCUENTRAN PROYECTOS EN EL SISTEMA</strong>
  </div>
{% endif %}
<a href="../agregarProyecto" class="btn btn-info float-end">AGREGAR PROYECTO</a>
{% endblock  %}